@model List<Shoping.DomainModel.Models.Supplier>;
@if(Model==null || Model.Count == 0)
{
    <h1 class="text-center text-danger">There Is No Number</h1>
}
else
{
    <table class="table table-bordered table-hover table-striped table-sm">
        @if (TempData["ErrorMessage"]!= null)
        {
            <tr>
                <td colspan="4">
                    <h1 class="text-danger text-center">
                        @TempData["ErrorMessage"]
                    </h1>
                </td>
               
            </tr>
        }
        <tr>
            <td>
                SupplierID
            </td>
            <td>
                SupplierName
            </td>
            <td>
                Description
            </td>
            <td>
                Delete
            </td>
            <td>
                Update
            </td>
        </tr>
        @foreach (var item in this.Model)
        {
            <tr>
                <td>
                    @item.SupplierID
                </td>
                <td>
                    @item.SupplierName
                </td>
                <td>
                    @item.SupplierDescription
                </td>
                <td>
                    <form asp-action="Delete" method="post" onsubmit="return ConfirmDelete()">
                        <input type="hidden" value="@item.SupplierID" name="id" />
                        <input type="submit" value="Delete" class="btn btn-danger"/>
                    </form>
                </td>
                <td>
                   @Html.ActionLink("Edit","Edit","SupplierManagement",new{id=item.SupplierID},new{@class="btn btn-primary"});
                </td>
            </tr>
        }
    </table>
}