<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EShopMashtiMahdi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EShopMashtiMahdi.styles.css" asp-append-version="true" />
    <script>
        function ConfirmDelete()
        {
            return confirm("are you sure?");
        }

    </script> 
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EShopMashtiMahdi</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="SupplierManagement" asp-action="AddNew">Supplier</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="SupplierManagement" asp-action="Index">Index</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ProductManagement" asp-action="Index">Product</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - EShopMashtiMahdi - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div id="dvContent2"></div>
            </div>
            
        </div>
    </div>
</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        function bindProductGrid() {
            let sendingUrl = '@Url.Action("search", "ProductManagement")';
            let sendingData = $("#frmSearch").serialize();
            $.get(sendingUrl, sendingData, function (grd) {
                $("#dvContent").html(grd);

            });
        }
        $(document).on("click", ".btnDeleteProduct", function () {
            if (confirm("Are You Sure?")) {
                var id = $(this).attr("date-id");
                let sendingUrl = '@Url.Action("Delete","ProductManagement")';
                let sendingData = "id="+ id;
                $.post(sendingUrl, sendingData, function (op) {

                    if (op.success.toString()==="true") {
                        bindProductGrid();
                    }
                    else {
                        alert("Delete Failed")
                    }
                })
            }

        });
        $(document).on("click", "#btnAddNewIndex", function () {
            let sendingUrl = '@Url.Action("AddNew", "ProductManagement")';
            let sendingData = null;
            $.get(sendingUrl, sendingData, function (frm) {
                $("#dvContent2").html(frm);
                 $("#myModal").modal("show");

            });
           
        })
       
    </script>
</body>
</html>
